$red: (50: #FFEBEE, 100: #FFCDD2, 200: #EF9A9A, 300: #E57373, 400: #EF5350, 500: #F44336, 600: #E53935, 700: #D32F2F, 800: #C62828, 900: #B71C1C, A100: #FF8A80, A200: #FF5252, A400: #FF1744, A700: #D50000);

$yellow: (50: #FFFDE7, 100: #FFF9C4, 200: #FFF59D, 300: #FFF176, 400: #FFEE58, 500: #FFEB3B, 600: #FDD835, 700: #FBC02D, 800: #F9A825, 900: #F57F17, A100: #FFFF8D, A200: #FFFF00, A400: #FFEA00, A700: #FFD600);

$light-green: (50: #F1F8E9, 100: #DCEDC8, 200: #C5E1A5, 300: #AED581, 400: #9CCC65, 500: #8BC34A, 600: #7CB342, 700: #689F38, 800: #558B2F, 900: #33691E);

$blue: (50: #E3F2FD, 100: #BBDEFB, 200: #90CAF9, 300: #64B5F6, 400: #42A5F5, 500: #2196F3, 600: #1E88E5, 700: #1976D2, 800: #1565C0, 900: #0D47A1);
