<div class="separator">
</div>
<div class="card">
  <h1>Wat I do best</h1>
  <div class="block-list">
    <div class="block">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">Angular</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
    <div class="block last-small">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">NativeScript</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
    <div class="block">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">WebDesign</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
    <div class="block last">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">Bass</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
  </div>
</div>
<div class="clr"></div>
<div class="separator"></div>
<!--</div>--><div class="separator">
</div>
<div class="card">
  <h1>skill.utils</h1>
  <div class="block-list">
    <div class="block">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">Angular</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
    <div class="block last-small">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">NativeScript</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
    <div class="block">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">WebDesign</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
    <div class="block last">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">Bass</h3>
      <p class="code">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse mollitia excepturi eius magni recusandae. Dolorem, impedit,
        odio? Neque, natus omnis?
      </p>
    </div>
  </div>
</div>
<div class="clr"></div>
<div class="separator"></div>