<div class="separator">
</div>
<div class="card">
  <h1>Wat I do best</h1>
  <div class="block-list">
    <div class="block">
      <img src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" style="padding: 10px" alt="">
      <h3 class="code">Angular</h3>
      <p class="code">
        One year on the boat. Cooking, washing floor and great discoveries.
      </p>
    </div>
    <div class="block last-small">
      <img src="assets/img/nativescript.png" alt="">
      <h3 class="code">NativeScript</h3>
      <p class="code">
        New old friend. I completely in love with this runtime. Also one year in touch with it, evolving together.
      </p>
    </div>
    <div class="block">
      <img src="assets/img/favicon.png" style="padding: 10px" alt="">
      <h3 class="code">WebDesign</h3>
      <p class="code">
        Five months ago, If I saw it in the street I surely would across the street to avoid it. Today we are in love each other.
        I've studing a lot of new stuff: SASS, CSS3, HTML and all using together with Angular improving with dynamic stylings
        and animations. This Portfolio came out in the middle of this relationship.
      </p>
    </div>
    <div class="block last">
      <img src="assets/img/self-learning.jpg" alt="">
      <h3 class="code">Self-learning</h3>
      <p class="code">
        I like to explorer, learn. All my career I've been studing by my self. Some course here and there, but mainly by my self.
        I think that is a great features to talk about, despite everyone has it.
      </p>
    </div>
  </div>
</div>
<div class="clr"></div>
<div class="separator"></div>
<!--</div>-->
<div class="separator">
</div>
<div class="card">
  <h1 class="code">skill.utils</h1>
  <div class="block-list">
    <div class="block">
      <h3 class="code">skills.utils.WebDeveloping</h3>
      <ul class="code">
        <li>Angular and NodeJS</li>
        <li>JS and TypeScript</li>
        <li>UX</li>
        <li>Kendo UI</li>
        <li>REST APIs</li>
        <li>SVG</li>
      </ul>
    </div>
    <div class="block last-small">
      <h3 class="code">skills.utils.DevManagement</h3>
      <ul class="code">
        <li>UML 2</li>
        <li>BPM</li>
        <li>Requirement Analysis</li>
        <li>Github</li>
      </ul>
    </div>
    <div class="block">
      <h3 class="code">skills.utils.Language</h3>
      <ul class="code">
        <li>Portuguese - BR</li>
        <li>English</li>
        <li>Spanish</li>
      </ul>
    </div>
  </div>
</div>
<div class="clr"></div>
<div class="separator"></div>