<div class="separator"></div>
<div class="card">
    <div class="block-list">
        <h2>On the market</h2>
        <div class="block">
            <img src="assets/img/dlctec.png" alt="job">
            <h3 class="code">DLC tech 2017 - current</h3>
            <p class="code">Working on full-stack development. Front-end, API’s, access to databases. Improve UX and beatiful screens</p>
        </div>
        <div class="block last-small">
            <img src="assets/img/progress.png" alt="job">
            <h3 class="code">Progress Software 2015 - 2017</h3>
            <p class="code">Worked as Pre-sales. Searching innovative technologies. Here I developed speech and UX concepts as mobile first
                and others</p>
        </div>
        <div class="block">
            <img src="assets/img/itau.png" alt="job">
            <h3 class="code">Itau-Unibanco - 2014 to 2015</h3>
            <p class="code">Intern on Financial market working with COBOL. Earned experience with project management</p>
        </div>
        <div class="block last">
            <img src="assets/img/coinfo.png" alt="job">
            <h3 class="code">Coinfo - 2012 to 2014</h3>
            <p class="code">Working with ABL (Progress) on a ERP. Worked 2 years in analysis system and requirements mapping.</p>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="separator"></div>
<div class="card">
    <div class="block-list">
        <h2>On the Stage</h2>
        <div class="block">
            <img src="assets/img/presentation.jpg" alt="presenting">
            <h2 class="code">Presenting</h2>
            <p class="code">
Working at Progress, I've the opportunity to present some contents for customers as Sales Engineer. One of the highlights was talking about UX and Produts for developers. Mobile Platform, UX and Frameworks, MBaaS.</p>
        </div>
        <div class="block last-small">
            <img src="assets/img/meeting_10.jpg" alt="tranings">
            <h2 class="code">Trainings</h2>
            <p class="code">
I already led some courses: basics about company products and <em class="code">hands on</em>. I love to teach, but I'm quite lazy to prepare all stuff. I'd prefer a knowledge exchange between work colleagues.</p>
        </div>
        <div class="block">
            <img src="assets/img/demo.jpg" alt="demos">
            <h2 class="code">Demos</h2>
            <p class="code">Still as a Sales Enginner I did a LOT of product demos. That's the occupation focus, isn't?  </p>
        </div>
        <div class="block last">
            <img src="assets/img/development_tn.jpg" alt="Dev">
            <h2 class="code">Developing</h2>
            <p class="code">All my career I've been in touch with developing. I am <em class="code">not</em> the greatest develper but I LOVE to code! From COBOL to Java. From JavaScript to Mobile. And now, migrating to a new context: Web Design and front and Developing.</p>
        </div>
    </div>
</div>
<div class="separator"></div>