<div class="separator"></div>
<div class="animation">
    <div class="card">
        <h1 class="">Experience</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, et.</p>
    </div>
    <div class="separator"></div>
    <div class="card">
        <div class="block-list">
            <h2 class="code">Jobs</h2>
            <div class="block">
                <img src="http://lorempixel.com/200/150/abstract/" alt="job">
                <h3 class="code">job 1 - 2000 to 2005</h3>
                <p class="code">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ipsa!</p>
            </div>
            <div class="block last-small">
                <img src="http://lorempixel.com/200/150/abstract/" alt="job">
                <h3 class="code">job 1 - 2000 to 2005</h3>
                <p class="code">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ipsa!</p>
            </div>
            <div class="block">
                <img src="http://lorempixel.com/200/150/abstract/" alt="job">
                <h3 class="code">job 1 - 2000 to 2005</h3>
                <p class="code">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ipsa!</p>
            </div>
            <div class="block last">
                <img src="http://lorempixel.com/200/150/abstract/" alt="job">
                <h3 class="code">job 1 - 2000 to 2005</h3>
                <p class="code">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, ipsa!</p>
            </div>
        </div>
    </div>
    <div class="separator"></div>
</div>