//fonts
// $font-family: 'Source Code Pro', monospace;
$font-family:'Leckerli One', cursive;

//measures
$menu-height: 50px;
$sixth-width:  span(2 of 12 narrow set-gutters 0);
$fourth-width:  span(3 of 12 narrow set-gutters 0);
$fifth-width:  span(3 of 15 narrow set-gutters 0);
$full-width: span(12 of 12 narrow set-gutters 0);

// assets
$img-path: 'assets/img';

//screens 
$tiny: 320px;
$small: 400px;
$medium: 780px;
$large: 900px;
