<a [routerLink]="['']" class="home-link"> Renato Grael Teixeira </a>
<a class="fa fa-bars menu-icon menu-icon" (click)="toggleMenu()"></a>
<nav id="menu" [class.hide-menu]="menuStatus">
    <ul class="right">
        <li #page [class.active]="currentPage(page)"><a (click)="toggleMenu()" [routerLink]="['/exp']">Experience</a></li>
        <li [class.active]="false"><a (click)="toggleMenu()" [routerLink]="['']">Knowlegde</a></li>
        <li [class.active]="false"><a (click)="toggleMenu()" [routerLink]="['']">Academic</a></li>
        <li [class.active]="false"><a (click)="toggleMenu()" [routerLink]="['']">Works</a></li>
        <li [class.active]="false"><a (click)="toggleMenu()" [routerLink]="['']">About me</a></li>
        <li [class.active]="false"><a (click)="toggleMenu()" [routerLink]="['']">Contact me</a></li>
    </ul>
</nav>
<div class="clr"></div>
<div class="bg-darken"> </div>
<router-outlet>

</router-outlet>