@keyframes expand {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes reduce {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.btn {
    background: $secundary;

    @include transition-duration(100ms);
    @include transition-timing-function(ease-in);

    padding: .5rem 2rem;
    font-size: 1rem;
    border: none;
    color: darker($accent, 30%);
    cursor: pointer;

    @include breakpoint($tiny $medium) {
        animation: expand 300ms ease forwards;
        font-size: 125%;
    }


    @include border-radius(2rem);

    @include box-shadow(#333 1px 1px 1px);

    &:hover {
        animation: expand 300ms ease forwards;
    }

    &:focus {
        outline: none;
    }

    &:active {
        animation: expand 300ms ease reverse;
    }
}

.floating {
    position: aboslute;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.btn-commin {
    @include border-radius(20px);
    @include box-shadow(#333 1px 1px 1px);
}
