* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url(~assets/img/WebDesignon.jpg) fixed;
    background-size: cover;
}

.clr {
    clear: both;
}

.hide {
    display: none !important;
}

.bg-darken {
    background: transparentize(black, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.center {
    @include centerer;
}

.center-large {
    @include breakpoint($medium) {
        @include centerer;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.card {
    width: span(12);
    padding: gutter() * 2;
    background: $accent;
}

.animation {
    position: absolute;
    width: $full-width;
}

.separator {
    clear: both;
    margin-top: $menu-height;
}

.last {
    @include breakpoint($small) {
        margin-right: 0 !important;
    }
}

.last-small {
    @include breakpoint($small $medium) {
        margin-right: 0 !important;
    }
}

.block-list {
    width: $full-width;
    overflow: hidden;
}

.block {
    width: span(10);
    height: 300px;
    color: $accent;
    background-color: $secundary;
    margin: gutter() auto;

    // overflow: hidden;

    @include breakpoint($small) {
        float: left;
        margin-right: gutter();
        margin-top: gutter() * 3;
        width: span(6);
    }


    @include breakpoint($medium) {
        float: left;
        margin-right: gutter();
        margin-top: gutter() * 3;
        width: span(3);
    }


    h3, p {
        color: $accent;
        margin: 10px;
    }

    img {
        display: block;
        margin: 0 auto;
        max-height: 100px;
        width: auto;
    }
}

@each $color in "blue", "yellow", "green" {
    .#{$color} {
        background-color: map-get($block-colors, #{$color});
    }
}
