* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    overflow: auto;
    background: url(~assets/img/WebDesignon.jpg) fixed;
    background-size: cover;
}

footer {
    text-align: right;
    color: white;
    line-height: 0;
    padding: $menu-height / 2;
}

.clr {
    clear: both;
}

.hide {
    display: none !important;
}

.container {
    display: inline-block;
    width: 100%;
    height: 80%;
}

.bg-darken {
    background: transparentize(black, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.center {
    @include centerer;
}

.center-large {
    @include breakpoint($medium) {
        @include centerer;
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.card {
    width: span(12);
    padding: 25px;
    background: $accent;

    @include breakpoint($tiny $medium) {
        font-size: 125%;
    }


    &.mobile {
        height: 40%;

        @include breakpoint($tiny $medium) {
            height: 80%;
        }
    }
}

.galery {
    padding: gutter() * 2;
    width: 100%;

    section {
        display: inline-block;
    }

    p {
        height: 100%;
        font-size: 120%;
        display: inline-block;
    }

    img {
        margin: gutter();
        height: 300px;
        transition: 500ms;

        @include breakpoint($tiny $small) {
            display: block;
            margin: gutter() auto;
            @include box-shadow(0 0px 5px 3px transparentize($secundary, 0.7));            
        }

        &:hover {
            @include box-shadow(0 0px 5px 3px transparentize($secundary, 0.7));
        }
    }

   
}

.welcome {
    font-size: 110%;

    @include background-image(radial-gradient(250px 250px, transparentize(black, 0.1) 50px, transparent));

    height: 500px;
    width: 550px;

    @include breakpoint($tiny $medium) {
        @include background-image(radial-gradient(100px 100px, transparentize(black, 0.1) 50px, transparent));

        width: 90%;
    }
}

.animation {
    position: absolute;
    width: $full-width;
}

.separator {
    display: block;
    height: $menu-height;
}

.block-list {
    width: $full-width;
    overflow: hidden;
}

.block {
    width: span(10);
    border-bottom: 1px solid lighten($accent, 10%);
    overflow: hidden;
    padding: 20px;

    // background-color: $secundary;
    margin: 20px auto;

    @include breakpoint($medium) {
        float: left;
        margin-right: gutter();
        margin-top: gutter() * 3;
        width: span(6);
        border-bottom: none;
        border-right: 1px solid lighten($accent, 10%);
    }


    @include breakpoint($large) {
        float: left;
        margin-right: gutter();
        margin-top: gutter() * 3;
        width: span(3);
        border-bottom: none;
        border-right: 1px solid lighten($accent, 10%);
    }


    h1, h2, h3, h4, h5 p {
        color: white;

        // color: $accent;
        margin: 10px;
    }

    img {
        @include border-radius(15px);

        background-color: white;
        display: block;
        margin: 0 auto;
        max-height: 100px;
        width: auto;
    }

    &.last {
        border: none;

        @include breakpoint($medium) {
            margin-right: 0 !important;
        }
    }

    &.last-small {
        @include breakpoint($medium $large) {
            margin-right: 0 !important;
            border: none;
        }
    }

    ul {
        padding-left: 18px;
        font-size: 18px;
        list-style-image: url(~assets/img/check-mark.svg);
    }
}

@each $color in "blue", "yellow", "green" {
    .#{$color} {
        background-color: map-get($block-colors, #{$color});
    }
}
