.menu-icon {
    padding: $menu-height / 2;
    line-height: 0;
    font-size: 150%;
    display: none;
    text-align: right;
    position: relative;
    z-index: 10;

    @include breakpoint($tiny $large) {
        display: block;
    }


    &:hover, &:focus {
        opacity: .5;
    }
}

.hide-menu {
    display: none !important;

    @include breakpoint($large) {
        display: block !important;
    }
}

#menu {
    display: none;

    @include breakpoint($tiny $large) {
        display: block;
        background-color: $accent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }


    @include breakpoint($large) {
        opacity: 1;        
        display: block;
    }


    ul {
        display: none;

        @include breakpoint($tiny $large) {
            margin: ($menu-height / 2) 0;
            float: none !important;
            display: block;
        }


        @include breakpoint($large) {
            display: block;
            width: $full-width / 1.5;
        }


        // background: susy-svg-grid();
        overflow: hidden;
        list-style: none;

        li {
            float: left;
            text-align: center;
            width: $sixth-width;
            padding: ($menu-height / 2) 0;
            line-height: 0;

            @include breakpoint($tiny $large) {
                margin-top: gutter();
                font-size: 150%;
                width: 100%;
                float: none;
            }


            a {
                color: $secundary;
                text-decoration: none;
                display: block;

                &:hover {
                    animation-name: floating-smooth;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
            }

            &::after {
                content: '';
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                width: $sixth-width;
                height: $menu-height;
                z-index: -10;

                @include breakpoint($tiny $large) {
                    position: relative;
                    margin: (-$menu-height / 2) 0;
                    width: $full-width;
                }


                @include background-image(linear-gradient(to bottom right, $secundary, transparent, transparent, $secundary));
                @include border-radius($menu-height);

                transition: 0.5s ease-out;

                @include breakpoint($large) {
                    width: $sixth-width / 1.5;
                }
            }

            &:hover::after, &:focus::after {
                opacity: .7;
            }
        }
    }
}
