@mixin floating-link {
    animation-name: floating-smooth;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.home-link {
    float: left;
    position: relative;
    text-decoration: none;
    padding: $menu-height / 2;
    line-height: 0;
}

.menu-icon {
    display: none;

    font-style: italic;
    float: right;
    padding: $menu-height / 2;
    line-height: 0;
    font-size: 150%;
    text-align: right;
    position: relative;
    z-index: 10;
    cursor: pointer;

    @include breakpoint($tiny $large) {
        display: block;
    }


    &:hover, &:focus {
        color: lighten($accent, 30%);
    }
}

#menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease-out;
    font-size: 105%;
    @include breakpoint($tiny $large) {
        opacity: 1;
        visibility: visible;
        background-color: $accent;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;

        &.hide-menu {
            visibility: hidden !important;
            opacity: 0;

            @include breakpoint($large) {
                opacity: 1;
                visibility: visible !important;
            }
        }
    }


    @include breakpoint($large) {
        visibility: visible;
        opacity: 1;
        display: block;
    }


    ul {
        display: none;

        @include breakpoint($tiny $large) {
            margin: ($menu-height / 2) 0;
            float: none !important;
            display: block;
        }


        @include breakpoint($large) {
            display: block;
            width: $full-width / 1.5;
        }


        // background: susy-svg-grid();
        overflow: hidden;
        list-style: none;

        li {
            float: left;
            text-align: center;
            width: $sixth-width;
            padding: ($menu-height / 2) 0;
            line-height: 0;

            @include breakpoint($tiny $large) {
                margin-top: gutter();
                font-size: 150%;
                width: 100%;
                float: none;
            }


            a {
                color: $secundary;
                text-decoration: none;
                display: block;

                &:hover {
                  @include floating-link();
                }
            }

            &::after {
                content: '';
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                width: $sixth-width;
                height: $menu-height;
                z-index: -10;

                @include breakpoint($tiny $large) {
                    position: relative;
                    margin: (-$menu-height / 2) auto;
                    width: $full-width / 3;
                }

                @include background-image(linear-gradient(to bottom right, $secundary, transparent, transparent, $secundary));
                @include border-radius($menu-height);

                transition: 0.5s ease-out;

                @include breakpoint($large) {
                    width: $sixth-width / 1.5;
                }
            }

            &:hover::after, &:focus::after {
                opacity: .7;
            }

            &.active::after {
                opacity: .7;
            }
        }
    }
}
